name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:

  test-neko:
    runs-on: ubuntu-latest
    env:
      SDL_VIDEODRIVER: "dummy"
      SDL_AUDIODRIVER: "disk"
    steps:
    - uses: actions/checkout@v4
    - uses: krdlab/setup-haxe@v1
      with:
        haxe-version: 4.3.4
    - name: Set up Haxelib dependencies
      run: |
        haxelib install lime --quiet
        haxelib install openfl --quiet
        haxelib install utest --quiet
    - name: Run Tests
      run: haxelib run openfl test neko

  test-hashlink:
    # AL init fails on both windows and ubuntu
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    # setup-haxe commit hash required for arm64 macOS support
    - uses: krdlab/setup-haxe@8f35d1215b93e940a76f9470e22e8a5ba6149598
      with:
        haxe-version: 4.3.4
    - name: Set up Haxelib dependencies
      run: |
        haxelib install lime --quiet
        haxelib install openfl --quiet
        haxelib install utest --quiet
    - name: Run Tests
      run: haxelib run openfl test hl

  test-html5:
    # doesn't work on ubuntu-latest due to driver issues with firefox
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    # setup-haxe commit hash required for arm64 macOS support
    - uses: krdlab/setup-haxe@8f35d1215b93e940a76f9470e22e8a5ba6149598
      with:
        haxe-version: 4.3.4
    - name: Set up Haxelib dependencies
      run: |
        haxelib install lime --quiet
        haxelib install openfl --quiet
        haxelib install utest --quiet
    - name: Set up Node.js dependencies
      run: |
        npm ci
        npx playwright install
        npx playwright install-deps
    - name: Build Tests
      run: haxelib run openfl build html5 -final -Dplaywright
    - name: Run Tests
      run: node playwright-runner.js

  test-linux:
    runs-on: ubuntu-latest
    env:
      SDL_VIDEODRIVER: "dummy"
      SDL_AUDIODRIVER: "disk"
    steps:
    - uses: actions/checkout@v4
    - uses: krdlab/setup-haxe@v1
      with:
        haxe-version: 4.3.4
    - name: Set up Haxelib dependencies
      run: |
        haxelib install lime --quiet
        haxelib install openfl --quiet
        haxelib install hxcpp --quiet
        haxelib install utest --quiet
    - name: Run Tests
      run: haxelib run openfl test linux

  test-mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    # setup-haxe commit hash required for arm64 macOS support
    - uses: krdlab/setup-haxe@8f35d1215b93e940a76f9470e22e8a5ba6149598
      with:
        haxe-version: 4.3.4
    - name: Set up Haxelib dependencies
      run: |
        haxelib install lime --quiet
        haxelib install openfl --quiet
        haxelib install hxcpp --quiet
        haxelib install utest --quiet
    - name: Run Tests
      run: haxelib run openfl test mac

  test-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: krdlab/setup-haxe@v1
      with:
        haxe-version: 4.3.4
    - name: Set up Haxelib dependencies
      run: |
        haxelib install lime --quiet
        haxelib install openfl --quiet
        haxelib install hxcpp --quiet
        haxelib install utest --quiet
    - name: Run Tests
      run: haxelib run openfl test windows

  test-air:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: krdlab/setup-haxe@v1
      with:
        haxe-version: 4.3.4
    - name: Set up Haxelib dependencies
      run: |
        haxelib install lime --quiet
        haxelib install openfl --quiet
        haxelib install utest --quiet
    - uses: joshtynjala/setup-adobe-air-action@v2
      with:
        air-version: "33.1"
        accept-license: true
    - run: haxelib run openfl config AIR_SDK ${{ env.AIR_HOME }}
    - name: Run Tests
      run: haxelib run openfl test air